@model IEnumerable<FrontBerries.Models.MissionsViewModel>

@{
    Layout = "_LayoutGame";
    ViewData["Title"] = "Missions";
}

<h1 style="color: black; font-family:'Trebuchet MS',sans-serif; font-weight:bold;">Missions that you must complete!</h1>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla Estilizada</title>
    <style>
        .table {
            width: 100%;
            border-collapse: collapse; /* Elimina los espacios entre celdas */
            font-family: Arial, sans-serif; /* Define la fuente */
            margin: 20px 0; /* Espaciado alrededor de la tabla */
        }

            .table th, .table td {
                border: 1px solid #ddd; /* Borde alrededor de las celdas */
                padding: 8px; /* Espaciado dentro de las celdas */
                text-align: left; /* Alineación del texto */
            }

            .table th {
                background-color: #9D76C1; /* Fondo para los encabezados */
                font-weight: bold; /* Texto en negrita */
            }

            .table tr:nth-child(even) {
                background-color: #DCBFFF; /* Color de fondo para filas pares */
            }

            .table tr:hover {
                background-color: #81689D; /* Color de fondo al pasar el ratón */
            }
    </style>
</head>

<table class="table" style="color: black;">
    <thead style="color: black; background-color: lightgray;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameMission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NameLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameMission)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </tbody>
</table>
